VITE_SUPABASE_URL=https://bovmhcgfwgcwoxbochgc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvdm1oY2dmd2djd294Ym9jaGdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNDkyMDYsImV4cCI6MjA5NTkyNTIwNn0.waJnYUQwo1seHgosYTqQUrwROlAXOeBd8k46XlSYBr0
VITE_HUSBAND_EMAIL=pro.davisantos@gmail.com
VITE_WIFE_EMAIL=valeriajansen72@gmail.com
